.heading {
  margin-top: 30px;
  color: #2096f3;
  text-align: center;
  margin-bottom:20px;
}

/* Admin Page */
.box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin-box {
  box-shadow: 1px 1px 10px black;
  width: 500px;
  text-align: center;
  padding-top: 20px;
  margin-top: 50px;
}
.ad-btn {
  margin-bottom: 20px;
  width: 150px;
}

/* Veena Page */
.main_contanier {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.assign_box {
  width: 70%;
  border: 2px solid #000;
  padding: 10px;
}

.task_btn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
